body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
}
canvas{
    border-radius: 10px;
    box-shadow: 10px 10px 10px darkcyan;
}
a {
    background:darkgoldenrod;
    color:darkgray;
    margin: 5px 5px;
    font-size: 30px;
    float:right;
}